<div class="cart-container">
  <h2>Carrello</h2>

  @if (cartItems().length === 0) {
    <div>Il carrello è vuoto</div>
  } @else {
    @for (item of cartItems(); track item.product.id) {
      <div class="cart-item">
        <h3>{{ item.product.name }}</h3>
        <img [src]="item.product.imageUrl" alt="{{ item.product.name }}" />
        <p>Prezzo: {{ item.product.price | currency:'EUR'}} €</p>

      <div>
        <button (click)="decrease(item.product.id)">-</button>
        <span>{{ item.qty }}</span>
        <button (click)="increase(item.product.id)">+</button>
      </div>

      <p><strong>Totale:</strong> {{ item.product.price * item.qty }} €</p>

      <button (click)="remove(item.product.id)">
        Rimuovi
      </button>
    </div>
  }

  <hr />

  <h3>Totale carrello: {{ total() | currency:'EUR':'symbol':'1.2-2' }} €</h3>

  <button 
  (click)="checkout()" 
  [disabled]="cartItems().length === 0 || isLoading()">
  {{ isLoading() ? 'Caricamento...' : 'Checkout' }}
</button>

}
</div>